<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}client/css/base.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}client/css/chat.css">
    </head>
    <body>
        <div id="session">{{ session_id }}</div>
        <div id="intro">
            <h1>sandbox</h1>
            <span>Nothing to see here.</span>
        </div>
        <div id="chat">
            <div id="history">
                <span id="title">history</span>
                <div id="history-entry">
                    <span id="text"></span>
                </div>
            </div>
            <div id="player-list">
                <span id="title">clients</span>
                <div id="client-info">
                    <span id="name"></span>
                </div>
            </div>
            <div id="input">
                <span id="title">input</span>
                <input/>
            </div>
            <div id="status">
                <span id="title">status</span>
            </div>
        </div>

        <script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}client/js/client.js"></script>
    </body>
</html>