<!DOCTYPE html>
<html>
    <head>
        <script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <style>
            pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
        </style>
    </head>
    <body>
        <script>
        // string formatting, via http://stackoverflow.com/a/5077091
        String.prototype.format = function () {
            var args = arguments;
            return this.replace(/\{(\d+)\}/g, function (m, n) { return args[n]; });
        };
        </script>

        <p>
            <b><span>Status:</span></b> <span id="statusText"></span>
        </p>
        <div id="buttons">
            <div>
                <button id="ping">Ping</button>
            </div>
        </div>
        <table>
            <tr>
                <td>
                    <p><b>REQUESTS</b></p>
                    <textarea rows="30" cols="50" id="lastRequest"></textarea>
                </td>
                <td>
                    <p><b>RESULTS</b> (may not be same order as requests)</p>
                    <textarea rows="30" cols="75" id="lastResult"></textarea>
                </td>
            <tr>
        </table>

        <script>
            var sock = new SockJS('http://ec2.killarny.net:10173');
            var status_text = $("#statusText")
            var request_text = $("#lastRequest")
            var result_text = $("#lastResult")
            var buttons = $("#buttons")
            var callback_id = 0;

            buttons.hide();
            status_text.html("Connecting..");

            function nextCallbackId() {
                return callback_id += 1;
            }

            function sendRequest(str) {
                content = str.format(nextCallbackId())
                json = JSON.parse(content);
                new_request_text = JSON.stringify(json, undefined, 4)
                if(request_text.html().length) {
                    request_text.html(new_request_text + '\n---\n' + request_text.html());
                } else { request_text.html(new_request_text); }
                sock.send(content + '\n\n');
            }

            sock.onopen = function() {
                console.log('open');
                status_text.html("Connected.");
                buttons.show();
                sendRequest('{"id":{0},"command":"ping"}');
            };

            sock.onmessage = function(e) {
                json = JSON.parse(e.data);
                as_string = JSON.stringify(json, undefined, 4);
                if(result_text.html().length) {
                    result_text.html(as_string + '\n---\n' + result_text.html());
                } else { result_text.html(as_string); }
                console.log('message receivedL: ' + as_string.length + ' chars');
            };

            sock.onclose = function() {
                console.log('close');
                status_text.html("Disconnected.");
                buttons.hide();
            };

            $("#ping").on('click', function() {
                sendRequest('{"id":{0},"command":"ping"}');
            });
        </script>
    </body>
</html>