<!DOCTYPE html>
<html>
    <head>
        <script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}client/client.js"></script>
        <style>
            pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
        </style>
    </head>
    <body>
        <p>
            <b><span>Status:</span></b> <span id="statusText"></span>
        </p>
        <div id="buttons">
            <div>
                <button id="ping">Ping</button>
            </div>
        </div>
        <table>
            <tr>
                <td>
                    <p><b>REQUESTS</b></p>
                    <textarea rows="30" cols="50" id="lastRequest"></textarea>
                </td>
                <td>
                    <p><b>RESULTS</b> (may not be same order as requests)</p>
                    <textarea rows="30" cols="75" id="lastResult"></textarea>
                </td>
            <tr>
        </table>
    </body>
</html>